/******************************************************************* COLORS ***/

$col-black:
$col-black-dark:

$col-red-light:
$col-red:

/****************************************************************** /COLORS ***/

/******************************************************************* SPACES ***/

$pad-outer        : 60px;
$pad-inner        : 30px;

$border-width     : 10px;

/****************************************************************** /SPACES ***/
